composer.phar
/vendor/
.env
ffmpeg_cmd.sh
/node_modules/
nodetext.js
/__pycache__
/tmp
bbb_api_test.js

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
